body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d4741;
    font-family: Arial, sans-serif;
  }
  
  .container {
    position: relative;
    text-align: center;
  }
  
  .cat {
    width: 300px;
    position: relative;
    z-index: 1;
  }
  
  .hello {
    font-size: 3em;
    color: #fbfbfb;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    transition: top 7s ease;
  }
  
  .fall {
    top: 70vh; /*text will fall off the screen */
  }
  