
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 0;
}

.back {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    position: absolute; 
    left: -70px; 
}

.back-arrow {
    left: 10;
    width: 30px;
    height: 30px;
}

.message-icon {
    width: 35px;
    height: 35px;
}

.menu-bar {
    position: absolute; 
    right: 10px; 
    display: flex;
    background: none;
    border: none;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    right: -80px;
}


.menu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.menu-content a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #555;
}

.message-container {
    width: 65%;
    height: 100vh;
    background-color: #F8E8EE;
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 60px);
    position: fixed;
    top: 10vh;
    left: 15%;
    overflow: hidden;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    margin-right: 10px;
    object-fit: cover; 
}

.sidebar-left ul li span {
    font-size: 16px;
    color: #333;
    flex-grow: 1;
    margin: 0; 
    display: flex;
    align-items: center; 
}

.feed {
    width: 65%;
    background-color: #F8E8EE;
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 60px);
    overflow-y: auto;
    position: fixed;
    top: 10vh;
    left: 15%; 
}

/* General Image */

.msgimg {
    width: 50px;
    vertical-align: middle;
    border-style: none;
    border-radius: 100%;
}


.msg-header {
    border: 1px solid #ccc;
    width: 100%;
    height: 12%;
    border-bottom: none;
    display: flex; 
    align-items: center; 
    background-color:#e6c7ce;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Profile picture */
.msgimg {
    margin-left: 5%;
    margin-right: 10px; 
}

.container1 {
    display: flex;            
    align-items: center;
    margin: 0;
    width: 300px;            
}


.active {
    color: black;
    font-weight: bold;
    margin-left: 20px; 
    margin-top: 10px;           
}


.chat-page {
    padding: 0 0 50px 0;
}


.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Chats styling */

.chats {
    height: 40vh;
    padding: 0 15px 15px 25px;
    background-color: #F9F5F6;
    overflow-y: auto;
}


.msg-page {
    max-height: 500px;
}


.my-message {
    text-align: right;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.my-message .message {
    background-color: #E6A4B4;
    /* background-image: linear-gradient(45deg, #ee087f, #DD2A7B, #9858ac, #515BD4); */
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 80%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.message-time {
    font-size: 10px;
    color: #333;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 80%;
}

.friend-message {
    text-align: left;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friend-message .message {
    background-color: #FDEFF4;
    color: #333;
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 80%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.msg-bottom {
    border-top: 1px solid #e8e5e5;
    position: relative;
    background-color: #e6c7ce;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.send {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 20px;
}

.send-arrow {
    width: 30px;
    height: 30px;
}


.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-group .form-control {
    flex-grow: 1;
    border: none;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    background-color: #efefef;
}

.input-group .send-icon {
    background-color: #000000;
    margin-left: 10px;
    cursor: pointer;
}

p {
    overflow-wrap: break-word;
}


@media only screen and (max-width: 850px) {
    .container {
        flex-direction: column;
    }

    .sidebar-left {
        width: 100%;
    }

    .feed {
        width: 100%;
    }
}
