.navbar {
    background-color: #e1b5db;
    color: white;
    display: flex;
    justify-content: flex-end; /* Space between elements */
    align-items: center; 
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.back {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    position: absolute; 
    left: -70px; 
}

.back-arrow {
    left: 10;
    width: 30px;
    height: 30px;
}

.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
}

.navbar .logo {
    font-size: 24px;
}

.navbar .nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.nav-button {
    position: relative;
    border-radius: 20px;
    border: 1px solid #EED6D3;
    background-color: #EED6D3;
    color: #695A5B;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
  }
  
.nav-button:hover {
    letter-spacing: 3px;
  }

@media (min-width: 1025px) {

    .sidebar-right {
        width: 20%;
        background-color: hsl(0, 0%, 100%);
        padding: 20px;
        border-radius: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: calc(100vh - 60px);
        overflow-y: auto;
        position: fixed;
        top: 60px;
        right: 0;
    }

    .toggle-sidebar-right {
        display: none;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    /* ------------------- Responsive's Nav Start ------------------ */
    .navbar {
        display: flex;
        padding: 10px 0px 10px 10px;
    }

    /* .nav-center {
        padding: 0;
        margin: 0;
    } */

    .nav-right {
        gap: 0px;
        right: 0;
    }

    .nav-button {
        font-size: 0.9rem;
        margin: 0 5px;
        padding: 5px 10px;
    }

    /* ------------------- Responsive's Nav End ------------------ */

    /* ------------------- Responsive's Nav-Left End ------------------ */
    .sidebar-left {
        width: 20%;
        display: block;
    }

    .sidebar-right {
        position: fixed;
        top: 60px;
        right: 0;
        width: 20%;
        height: calc(100vh - 60px);
        /* use calc for calculate the height of the sidebar in responsive */
        overflow-y: auto;
        transform: translateX(100%);
        /* hide the sidebarR (set it in hidden as default) */
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: hsl(0, 0%, 100%);
    }

    .sidebar-right.show {
        transform: translateX(0);
        /* bring sidebar back */
    }

    .sidebar-right.show .sidebar-right-content {
        width: 30%;
    }

    .toggle-sidebar-right {
        position: fixed;
        color: rgb(0, 0, 0);
        border: none;
        font-size: 1.5rem;
        background: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        z-index: 1001;
    }

}